<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.iom.mapper.oracle.CallContentMapper">
    <select id="selectMatchResultByUuid" resultType="com.hy.iom.entities.CallContent">
        SELECT id,uuid,nodename,type,seq,intervalseconds,createtime,content FROM(
        SELECT id,uuid,nodename,type,seq,intervalseconds,createtime,to_char(content) as content
        FROM T_IOM_CALLCONTENT_TMP
        WHERE UUID = #{uuid}
        AND TYPE IN ('tts','speechSuccess','matchSucess','speechOverTime','matchError','error','hangup',
        'end','dtmfSuccess','dtmfError','dtmfOverTime')

        UNION

        SELECT id,uuid,nodename,type,seq,intervalseconds,createtime,to_char(content) as content
        FROM T_IOM_CALLCONTENT
        WHERE UUID = #{uuid}
        AND TYPE IN ('tts','speechSuccess','matchSucess','speechOverTime','matchError','error','hangup',
        'end','dtmfSuccess','dtmfError','dtmfOverTime')
        )order by seq asc
    </select>

</mapper>